@using Microsoft.JSInterop;
@using OpenCodeDev.Blazor.Foundation.Components.Plugins.Sticky;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using System.Collections.Generic;
@inject IJSRuntime JSRuntime;


@if (Sticky)
{
    <StickyContainer style="@WrapperStyle" Id="@Id" DataOptions="@(new Dictionary<string, object>() { { "marginTop", 0} })">
        <StickyTitleBar style="@TitleBarStyle" Id="@(Id + "-content")">
            @ChildContent
        </StickyTitleBar>
    </StickyContainer>
}
else
{
    <div class="@($"top-bar {Class}")" id="@Id" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}

@code {

}
