@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
<div class="orbit-controls" @attributes="AdditionalAttributes">
    <button class=@($"orbit-previous {PreviousButtonClass}") style="@(PreviousButtonStyle)">
        <span class="show-for-sr">Previous Slide</span>
        <span class="mdi @(PreviousContent) @(PreviousIconClass)"></span>
    </button>
    <button  class=@($"orbit-next {NextButtonClass}") style="@(NextButtonStyle)">
        <span class="show-for-sr">Next Slide</span>
        <span class="mdi @(NextContent) @(NextIconClass)" style="@(NextIconStyle)"></span>
    </button>
</div>
@code {

}
