@page "/clipboard";

@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@using Microsoft.JSInterop;
@using OpenCodeDev.Blazor.Foundation.Extensions.Clipboard;
@inject IClipboard clip;
@inject IJSRuntime JS;

<SectionWrapper>
    <SectionLeft>
        <h2>Clipboard</h2>
        <p>It give you the power to manipulate your clipboard with C#.</p>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Basics</h2>
        <p>Use <Code>Clipboard</Code> is very simple. You will need to import and inject some stuff.</p>

        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="QHVzaW5nIE1pY3Jvc29mdC5KU0ludGVyb3A7CkB1c2luZyBPcGVuQ29kZURldi5CbGF6b3IuRm91bmRhdGlvbi5FeHRlbnNpb25zLkNsaXBib2FyZDsKQGluamVjdCBJQ2xpcGJvYXJkIGNsaXA7CkBpbmplY3QgSUpTUnVudGltZSBKUzsKCjxpbnB1dCB0eXBlPSJ0ZXh0IiBAYmluZC12YWx1ZT0iQENvbnRlbnQiIC8+CjxCdXR0b24gQG9uY2xpY2s9IkAoYXN5bmMgKCkgPT4geyBhd2FpdCBjbGlwLlNldFRleHQoSlMsIENvbnRlbnQpOyB9KSI+Q2xpY2sgbWUgZmlyc3QgZm9yIENvcHkgQ29udGVudCBpbiBDbGlwYm9hcmQ8L0J1dHRvbj4KCjxpbnB1dCB0eXBlPSJ0ZXh0IiBAYmluZC12YWx1ZT0iQFBhc3RlQ2xpcGJvYXJkQ29udGVudCIgLz4KPEJ1dHRvbiBAb25jbGljaz0iQChhc3luYyAoKSA9PiB7IFBhc3RlQ2xpcGJvYXJkQ29udGVudCA9IGF3YWl0IGNsaXAuUmVhZFRleHQoSlMpOyB9KSI+UGFzdGUgQ29udGVudCBmcm9tIGNsaXBib2FyZDwvQnV0dG9uPgoKQGNvZGUgewogICAgcHVibGljIHN0cmluZyBDb250ZW50IHsgZ2V0OyBzZXQ7IH0gPSAiS2FtZWhhIG1laGFhYWFhYWFhYSEiOwogICAgcHVibGljIHN0cmluZyBQYXN0ZUNsaXBib2FyZENvbnRlbnQgeyBnZXQ7IHNldDsgfSA9ICIiOwp9Cg==" />


        <input type="text" @bind-value="@Content" />
        <Button @onclick="@(async () => { await clip.SetText(JS, Content); })">Click me first for Copy Content in Clipboard</Button>
        <input type="text" @bind-value="@PasteClipboardContent" />
        <Button @onclick="@(async () => { PasteClipboardContent = await clip.ReadText(JS); })">Paste Content from clipboard</Button>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>SetText</h2>
        <p>The function <Code>SetText()</Code> allow you to copy any content in your clipboard.</p>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="QHVzaW5nIE1pY3Jvc29mdC5KU0ludGVyb3A7CkB1c2luZyBPcGVuQ29kZURldi5CbGF6b3IuRm91bmRhdGlvbi5FeHRlbnNpb25zLkNsaXBib2FyZDsKQGluamVjdCBJQ2xpcGJvYXJkIGNsaXA7CkBpbmplY3QgSUpTUnVudGltZSBKUzsKCjxpbnB1dCB0eXBlPSJ0ZXh0IiBAYmluZC12YWx1ZT0iQENvbnRlbnQiIC8+CjxCdXR0b24gQG9uY2xpY2s9IkAoYXN5bmMgKCk9PiB7CgkJCQkJCUNvcHlCdXN5ID0gdHJ1ZTsKCQkJCQkJYXdhaXQgY2xpcC5TZXRUZXh0KEpTLCBDb250ZW50ICk7CgkJCQkJCWF3YWl0IFRhc2suRGVsYXkoMTAwMCk7CgkJCQkJCUNvcHlCdXN5ID0gZmFsc2U7CgkJCQkJfSkiPgoJQGlmICghQ29weUJ1c3kpCgl7CgkJPHNwYW4gY2xhc3M9Im1kaSBtZGktY29udGVudC1jb3B5Ij48L3NwYW4+QCgiIENsaWNrIGZvciBDb3B5IikKCX0KCWVsc2UKCXsKCQk8c3BhbiBjbGFzcz0ibWRpIG1kaS1jaGVjayI+PC9zcGFuPkAoIkNvcHkgZG9uZSIpCgl9Cgo8L0J1dHRvbj4KCkBjb2RlIHsKCiAgICBwdWJsaWMgc3RyaW5nIENvbnRlbnQgeyBnZXQ7IHNldDsgfSA9ICJXcml0ZSBhbnl0aGluZyBhbmQgY2xpY2sgaW4gdGhlIGJ1dHRvbiAhIjsKCn0K" />

        <input type="text" @bind-value="@ContentSetText" />
        <Button @onclick="@(async ()=> {
                                CopyBusy = true;
                                await clip.SetText(JS, ContentSetText );
                                await Task.Delay(1000);
                                CopyBusy = false;
                            })">
            @if (!CopyBusy)
            {
                <span class="mdi mdi-content-copy"></span>@(" Click for Copy")
            }
            else
            {
                <span class="mdi mdi-check"></span>@("Copy done")
            }

        </Button>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>ReadText</h2>
        <p>The function <Code>ReadText()</Code> allow you to paste content in your clipbooard. </p>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="QHVzaW5nIE1pY3Jvc29mdC5KU0ludGVyb3A7CkB1c2luZyBPcGVuQ29kZURldi5CbGF6b3IuRm91bmRhdGlvbi5FeHRlbnNpb25zLkNsaXBib2FyZDsKQGluamVjdCBJQ2xpcGJvYXJkIGNsaXA7CkBpbmplY3QgSUpTUnVudGltZSBKUzsKCjxwIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOnllbGxvdzsiPkNvcHkgdGhpcyB0ZXh0IGFuZCBjbGljayBpbiB0aGUgYmVsbG93IGJ1dHRvbiBmb3IgcGFzdGUgaXQuPC9wPgoKPEJ1dHRvbiBAb25jbGljaz0iQChhc3luYyAoKSA9PiB7IFBhc3RlQ2xpcGJvYXJkQ29udGVudCA9IGF3YWl0IGNsaXAuUmVhZFRleHQoSlMpOyB9KSI+UGFzdGUgQ29udGVudCBpbiBjbGlwYm9hcmQ8L0J1dHRvbj4KPGlucHV0IHR5cGU9InRleHQiIEBiaW5kLXZhbHVlPSJAUGFzdGVDbGlwYm9hcmRDb250ZW50IiAvPgoKQGNvZGUgewoKICAgIHB1YmxpYyBzdHJpbmcgUGFzdGVDbGlwYm9hcmRDb250ZW50IHsgZ2V0OyBzZXQ7IH0gPSAiIjsKfQ==" />

        <p style="background-color:yellow;">Copy this text and click in the bellow button for paste it.</p>
        <Button @onclick="@(async () => { PasteClipboardContentReadText = await clip.ReadText(JS); })">Paste Content in clipboard</Button>
        <input type="text" @bind-value="@PasteClipboardContentReadText" />

    </SectionLeft>
</SectionWrapper>

@code {
    public string Content { get; set; } = "Kameha mehaaaaaaaaa!";
    public string ContentSetText { get; set; } = "Write anything and click in the button !";

    public string PasteClipboardContent { get; set; } = "";
    public string PasteClipboardContentReadText { get; set; } = "";

    public bool CopyBusy { get; set; } = false;
}
