@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<li class="@($"accordion-item {Class} {(Active ? "is-active" : "")}")" data-accordion-item id="@Id" @attributes="AdditionalAttributes">
    <a href="#" class="@($"accordion-title {TitleClass}")">@Title</a>
    <div class="@($"accordion-content {ContentClass}")" data-tab-content>
        @ChildContent
    </div>
</li>

@code {

    
}

