@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
<div class="@($"callout {Class} {TypeClass} {Size}")" id="@Id" @attributes="AdditionalAttributes" data-closable="@ClosableData">
    @ChildContent

    @if (CloseButton)
    {
        <button class="@($"close-button {CloseButtonClass}")" aria-label="Dismiss @TypeClass" type="button" data-close @onclick="@(async () => await CloseButtonCallBack.InvokeAsync(null) )">
            <span aria-hidden="true">&times;</span>
        </button>
    }

</div>


@code {


}
