@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using Newtonsoft.Json.Linq;
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime;
@implements System.IDisposable;

<div class="@($"dropdown-pane {Class}")" 
     data-position="@Position" 
     data-alignment="@DataAlignment" 
     id="@Id" 
     @attributes="AdditionalAttributes" 
     data-dropdown 
     data-auto-focus="@(CurrentBehavior == Behavior.Dropdown ? "true" : "false")" 
     data-hover="@(CurrentBehavior == Behavior.Dropdown ? "false" : "true")" 
     data-hover-pane="@(CurrentBehavior == Behavior.Dropdown ? "false" : "true")" >
    @ChildContent
</div>

@code {





}
