@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;


<div class="@($"{(Absolute ? "off-canvas-absolute" : "off-canvas")} " +
              $"{Class} " +
              $"{(DataTransition == "overlap" ? "is-transition-overlap" : "is-transition-push" )} " +
              $"{(Position != null ? Position.ToLower() : "")}" +
              $"")"
     id="@Id" @attributes="AdditionalAttributes"
     data-transition="@DataTransition"
     data-transition-time="500"
     data-close-on-click="@CloseOnClick.ToString().ToLower()"
     data-content-overlay="@ContentOverlay.ToString().ToLower()">
    @ChildContent
</div>

@code {
    
}

