@inherits NewComponentBase
@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using OpenCodeDev.Blazor.Foundation.Components.Plugins.Blazor;
@inject IJSRuntime JSRuntime;

<div class="@($"switch {Size} {Class}")" @attributes="AdditionalAttributes">
    <input class="switch-input"
           id="@Id"
           type="@(IsRadio ? "radio" : "checkbox")"
           name="@Name"
           checked="@Checked"
           disabled=@IsDisabled()
           @onchange="changeEventArgs => OnUpdate?.Invoke(bool.Parse(changeEventArgs.Value.ToString()))">

    @*<InputCheckbox
        @onchange="changeEventArgs => OnUpdate?.Invoke(bool.Parse(changeEventArgs.Value.ToString()))"
        class="switch-input"
        id="@Id"
        type="checkbox"
        name="@Name"
        checked="@Checked"
        disabled="@Disabled" />*@
    <label class="switch-paddle" for="@Id">
        <span class="switch-active" aria-hidden="true">@(LabelOn != null ? LabelOn.ToString() : "") </span>
        <span class="switch-inactive" aria-hidden="true">@(LabelOff != null ? LabelOff.ToString() : "")</span>
    </label>
</div>

@code {

   


}

