@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using OpenCodeDev.Blazor.Foundation.Extensions.Clipboard;
@inject IJSRuntime JS;
@inject IClipboard clip;
@if (!ShouldReCreate)
{
<pre style="@($"{(Full ? $"width:100%;": "width: fit-content;")} position: relative;white-space: nowrap;padding-top: 1.6em;margin-bottom:1em;") ">
@if (HeaderIsReady)
{
<div class="hljs-header" style="@($"background-color:{(HeaderBGcolor == null ? Supported.ContainsKey(Language.ToLower()) ? Supported[Language.ToLower()][1] : Supported["txt"][1] : HeaderBGcolor)};")">
@if (clip != null)
{
<span class="@($" mdi {(HeaderIcon == null ? Supported.ContainsKey(Language.ToLower()) ? Supported[Language.ToLower()][0] : Supported["txt"][0] : HeaderIcon)} hljs-header-title")" 
style="@($"{(HeaderIconColor != null ? $"color:{HeaderIconColor};":"")}")">
</span>
<span class="hljs-header-title" style="@($"{(HeaderTitleColor != null ? $"color:{HeaderTitleColor};":"")}")">@(HeaderTitle == null ? Language : HeaderTitle)</span>
<span class="mdi @CopyIcon hljs-header-copy" style="@($"{(CopyIconColor != null ? $"color:{CopyIconColor};":"")}")"
@onclick="@(async ()=> {
if (CopyBusy) { return; }
CopyBusy = true;
CopyIcon = "mdi-spin";
StateHasChanged();
await clip.SetText(JS,DecodedContent);
CopyIcon = "mdi-check";
StateHasChanged();
await Task.Delay(1000);
CopyIcon = "mdi-content-copy";
CopyBusy = false;
StateHasChanged();
})">
</span>
}
</div>
}
<code id="@Id" class=@($"language-{(LangExceptions.ContainsKey(Language.ToLower()) ? LangExceptions[Language.ToLower()] : Language)}") style="@($"width:100%; white-space: break-spaces;")">@DecodedContent</code></pre>
  
}

@code {

}
